.header-container {
    background-color: #FFF;
    display: grid;
    grid-template-columns: 70% 30%;
    padding: 20px 25px;

    .application-name {

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            color: #101213;
            margin-bottom: 1px;
        }      

        .breadcrumb {
            color: #787878;
            font-size: .75rem;
            font-weight: 400;
        }
    }
    .action-section {
        display: grid;
        grid-template-columns: 2.5rem 10rem 2.5rem;
        color: #125D79;
        align-content: center;
        justify-content: end;
        gap: 1rem;

        mat-icon {
            font-size: 2.5rem;
        }
        
        button {
            border-radius: 15px;
            border: 1px solid #125D79;
            color: #125D79;
            background-color: #FFF;
            font-size: .875rem;
            font-weight: 700;
            height: 2.5rem;
        }
    }
}